<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <div class="container mt-2 bg-secondary bg-gradient">
      <h5 class="px-4 py-2 bg-secondary bg-gradient text-white fs-5">Event List</h5>
    </div>
    <div class="container">
      <% events.forEach(function(event){ %>
      <div class="row pt-1 bg-secondary bg-gradient bg-opacity-25">
        <div class="col-11 fs-6 fw-bold align-middle">
          <button type="button" class="btn btn-secondary btn-sm"><%= event.timeStamp %></button>
          <button type="button" class="btn btn-primary btn-sm"><%= event.topic %></button>
          <button type="button" class="btn btn-success btn-sm"><%= event.type %></button>
          <button type="button" class="btn btn-warning btn-sm"><%= event.id %></button>
          <button type="button" class="btn btn-danger btn-disabled btn-sm"><%= event.geolocation %></button>
        </div>
        <div class="col-1">
          <form class="mb-1" action="/eventdelete/<%= event.id%>" method="post">
            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
      <div class="row pt-1 pb-1 border bg-light border-light">
        <div class="col-12 align-left">
          <a href="/event/<%= event.id%>" role="button" class="btn btn-light btn-sm"><%= event.facts.slice(0,180) + " ..." %></a>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="container mt-4">
      <nav aria-label="Page navigation">
        <% if (pages > 0) { %>
        <ul class="pagination mx-auto">
          <% if (current == 1) { %>
          <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/events/1">&laquo;</a></li>
          <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/events/<%= i %>"><%= i %></a></li>
          <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% } %> <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/events/<%= pages %>">&raquo;</a></li>
          <% } %>
        </ul>
        <% } %>
      </nav>
    </div>
    <div class="container mt-4">
      <form class="mb-1" action="/deleteallevents" method="post">
        <button type="submit" class="btn btn-outline-danger btn-sm">Delete All Events</button>
      </form>
    </div>
  </body>
</html>
