<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/listheader') %>
    <div class="container">
      <% events.forEach(function(event){ %>
      <div class="row pt-1 bg-secondary bg-gradient bg-opacity-25">
        <div class="col-11 fs-6 fw-bold align-middle">
          <button type="button" class="btn btn-secondary btn-sm"><%= event.timeStamp %></button>
          <button type="button" class="btn btn-primary btn-sm"><%= event.topic %></button>
          <button type="button" class="btn btn-success btn-sm"><%= event.type %></button>
          <button type="button" class="btn btn-warning btn-sm"><%= event.id %></button>
        </div>
        <div class="col-1">
          <form class="mb-1" action="/eventdelete/<%= event.id%>" method="post">
            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
      <div class="row pt-1 pb-1 border bg-light border-light">
        <div class="col-12 align-left">
          <a href="/event/<%= event.id%>" role="button" class="btn btn-light btn-sm"><%= "facts: "+ event.facts.slice(0,180) + " ..." %></a>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="container mt-4">
      <span class="placeholder bg-white"></span>
    </div>
  </body>
</html>
