<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <div class="container pt-2">
      <h5>Search text <span class="text-primary fs-5">"<%- keyword%>"</span>, <%- events.length%> records found. </h5>
    </div>
    <div class="container pt-2">
      <% events.forEach(function(event){ %>
        <div class="row pt-1 bg-secondary bg-gradient bg-opacity-25">
          <div class="col-11 fs-6 fw-bold align-middle"><%= event.title %></div>
          <div class="col-1">
            <form class="mb-1" action="/eventdelete/<%= event.id%>" method="post">
              <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </div>
        </div>
        <div class="row pt-1 pb-1 border bg-light border-light">
          <div class="col-12 align-middle">
            <%= event.facts.slice(0,160) + "..." %> </><a href="/event/<%= event.id%>"><button type="button" class="btn btn-outline-primary btn-sm align-right">More</button></a>
          </div>
      </div>
      <% }) %>
      <div class="row pt-3">
        <a href="/" class="col-1 btn btn-primary" role="button">Back</a>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
